:root {
  --bg-blue: hsl(208, 25%, 42%);
  --bg-sheer-blue: hsla(208, 25%, 42%, 0.85);
  --heading-outline: 0 0 2px white;
  --text-outline: 0 0 1px white;
  --heading-font: sans-serif;
  --handwritten-font: sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100svw;
  min-height: 100svh;

  background-image: url(./images/Library_Backdrop.png);
  font-family: Calibri, sans-serif;
  font-size: 16px;
}

h1 {
  background-color: var(--bg-blue);
  width: 25%;
  margin: 2.5rem auto 4rem;
  padding: 15px;
  text-align: center;

  border-radius: 10px;

  font-family: var(--heading-font);
  font-size: 2.5rem;
  text-shadow: var(--heading-outline);
}

/* 
section  #addBook
> form  #bookForm
> > div  .infoFields
> > > label
> > > input  #book[info]Input
> button  #saveBtn
section  #myLibrary
*/

#addBook {
  width: 40%;
  background-color: var(--bg-sheer-blue);
  padding: 20px 20px 20px 5%;
  margin-left: 5%;
  display: flex;
  flex-direction: column;
  gap: 2rem;

  border: 5px solid var(--bg-blue);
  border-radius: 10px;
}

#bookForm {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.infoFields {
  display: flex;
  flex-direction: row;
  gap: 3rem;

  font-size: 1.3rem;
}

label {
  text-shadow: var(--text-outline);
}

input {
  font-family: var(--handwritten-font);
  font-size: 0.9rem;
  border-radius: 3px;
  padding-inline-start: 4px;
}

#saveBtn {
  width: 8.5rem;
  background-color: white;
  padding: 5px;
  border: 1.5px outset --bg-blue;
  border-radius: 5px;

  font-size: 1rem;
}

#myLibrary {
  display: flex;
  flex-flow: row wrap;
  margin-top: 15svh;
}

/* 
Book Cards  (in #myLibrary)
Made to look like actual books?
article  .bookCard
> h2  .bookTitle
> p  .bookAuthor
> p  .bookYear
> p  .bookPages
> p  .bookGenre
*/

.bookCard {
  width: 320px;
  margin-left: 5%;
  padding: 15px;
  background-color: var(--bg-blue);

  display: flex;
  flex-direction: column;
  gap: 1rem;

  color: white;
  border-radius: 10px;
}

.modBtns {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-top: 10px;
}

.modBtns button {
  width: 60px;
}
